html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 16px;
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.app .wrapper {
  display: flex;
  max-width: 555px;
  flex-wrap: wrap;
  padding-top: 12px;
}
.app .card {
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  max-width: 200px;
  margin: 15px;
  transition: 0.15s all ease-in-out;
}
.app .card:hover {
  transform: scale(1.01);
}
.app .card {
  position: relative;
  text-decoration: none;
  padding: 12px;
  color: #03a9f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app .card img {
  height: 140px;
}
.app .card small {
  font-size: 10px;
  padding: 0px 2px 0px;
  color: grey
}

.app .box {
  width: 150px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, .12);
}
.app .date {
  position:absolute;
  bottom:0;
  right:0;
  padding-bottom: 10px;
}

.app .author {
  position:absolute;
  bottom:0;
  left:0;
  padding-bottom: 10px;
}
